<div class="col-sm-3 col-sm-offset-0 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p style="text-align:center;">
        <img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/1622720_886046348122005_8516570346401415241_n.jpg?oh=4a3d4392efad7e2e00d2dd2fc267c47e&oe=5919F65C" style="width:80%; height:80%; border-radius: 4px;" >
      </p>
      <p>
        임현택
        <br>
        Schl. of Electrical Engineering, <em>KAIST</em>
        <br>
        IVYLAB M.S. candidate <em>15'</em>
        <br>
        Undergraduate <em>10'</em>
      </p>
      <p style="font-family:Nanum Gothic sans-serif; font-size:12px">
        
          (전) 제 43대 대학원총학생회 비상대책위원회 문화사업부장
          <br>
          (전) KAIST 라이프스타일연구소 연구원
          <br>
          (전) KAIST 학생문화공간위원회 기획 2팀 팀장
          <br>
          (전) KAIST 학생문화공간위원회 관리 1팀
        
      
      </p>
    </div>
    <div class="sidebar-module">
      <h4>SNS</h4>
      <ol class="list-unstyled">
        <!--<li><a href="#">GitHub</a></li>-->
        <li><a href="https://twitter.com/ingh_redsquare">Twitter</a></li>
        <li><a href="https://fb.com/ingheoun">Facebook</a></li>
        <li><a href="https://github.com/ingheoun/">GitHub</a></li>
        
      </ol>
    </div>
    
    <div class="sidebar-module">
      <h4>Mail</h4>
      <h5>
        ingheoun@kaist.ac.kr
      </h5>
    </div>
    
  </div><!-- /.blog-sidebar -->