<% if user_signed_in? && current_user.role == 'admin' %>
	<form action = "/blog/write_diary" method = "post", class = "form-group"> 
		<div class = "form-group">
			<div class = "form-group">
		  	<%= date_field(:diary, :date, value: Time.now.in_time_zone('Seoul').strftime('%Y-%m-%d'), class: "date") %>
	  	</div>
		  <textarea name = "diary[content]" class="form-control" rows = '5' placeholder = "일기를 입력해 주세요"></textarea>
		</div>		
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<div class="form-inline">
	  	<button type="submit" class="btn btn-default">Submit</button>
	  	<div class="checkbox">
		    <label>
		    	<input name="private" type="hidden" value="false">
		      <input name="private" value = "true", type="checkbox" > 비밀글입니다
		    </label>
			</div>
		</div>
	</form>
<% end %>
	



<div class = "form-group">
	<% @diaries.each do |diary| %>
      <label> <%= diary.date %> </label>
      <p class = 'blog-content'> <%= diary.content %> </p>
  <% end %>
	
</div>
  