<div class="row blog-wrapper">
  <div class="col-sm-8 blog-main">
    <% @posts.each do |post| %>
        
        <div class="blog-post">
          <h2 class="blog-post-title">
            <a href = "/blog/show/<%= post.id%>">
              <%= post.title %>
            </a>
          </h2>
          <ul class="list-inline blog-post-meta">
              <li><%= post.created_at %></li>
            </ul>
        </div><!-- /.blog-post -->
    <% end %>
    <nav>
      <ul class="pager">
      </ul>
    </nav>

  </div><!-- /.blog-main -->

  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
    </div>
    <div class="sidebar-module">
      <h4>SNS</h4>
      <ol class="list-unstyled">
        <!--<li><a href="#">GitHub</a></li>-->
        <li><a href="https://twitter.com/ingh_redsquare">Twitter</a></li>
        <li><a href="https://fb.com/ingheoun">Facebook</a></li>
      </ol>
    </div>
  </div><!-- /.blog-sidebar -->

</div><!-- /.row -->